<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yfbx.ktx">

    <application>
        <provider
            android:name=".AppProvider"
            android:authorities="${applicationId}.app.provider"
            android:exported="false" />
    </application>
</manifest>